{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center text-white-50">
        <h4>E-mail sent</h4>

        <p class="small">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam
            folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
