{% extends 'account/base.html' %}
{% load crispy_forms_filters %}

{% if request.session.category %}
    {% block title %}{{ request.session.category|capfirst }} {{ request.session.sort }} mobile wallpapers{% endblock title %}
{% endif %}

{% block content %}
    {% include 'wallpapers/downloads_count.html' %}

    <section class="py-2">
        <div class="container px-1 mt-1">
            <div class="row justify-content-center">
                <div class="btn btn-dark col-5 m-1 {% if request.session.sort == 'newest' %}active{% endif %}"
                     hx-get="{% url 'wallpapers_list_view' %}" hx-target="body"
                     hx-vals='{"sort":"newest", "page":"1", "category":"{{ request.session.category }}"}'>
                    Newest
                </div>

                <div class="btn btn-dark col-5 m-1 {% if request.session.sort == 'trending' %}active{% endif %}"
                     hx-get="{% url 'wallpapers_list_view' %}" hx-target="body"
                     hx-vals='{"sort":"trending", "page":"1", "category":"{{ request.session.category }}"}'>
                    Trending
                </div>
            </div>
            <div class="row justify-content-center">
                <form method="get" class="form col-sm-6 pt-3 text-center" hx-get="{% url 'wallpapers_list_view' %}"
                      hx-target="body">
                    {{ form.query|as_crispy_field }}
                    <input type="hidden" name="page" value="1"/>

                    <button class="btn btn-outline-primary text-white col-sm-2" type="submit">Search</button>

                    {% if request.session.query != '' %}
                        <button class="btn btn-outline-primary text-white col-sm-2"
                                hx-get="{% url 'wallpapers_list_view' %}" hx-target="body"
                                hx-vals='{"query":"", "page":"1"}'
                        >Clear</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>

    <section class="py-2">
        <div class="container px-1 mt-1">
            <div class="row">
                {#                <div class="col-1">#}
                {#                    <div class="btn btn-dark {% if request.user_agent.is_mobile %}btn-sm{% endif %}" hx-get="{% url 'wallpapers_list_view' %}" hx-target="body"#}
                {#                         hx-vals='{"category":"all", "sort":"{{ request.session.sort }}"}'>All#}
                {#                    </div>#}
                {#                </div>#}
                {#                {% for category in categories %}#}
                {#                    <div class="col-1">#}
                {#                        <div class="btn btn-dark {% if request.user_agent.is_mobile %}btn-sm{% endif %}" hx-get="{% url 'wallpapers_list_view' %}" hx-target="body"#}
                {#                             hx-vals='{"category":"{{ category.title }}", "sort":"{{ request.session.sort }}"}'>#}
                {#                            {{ category.title }}#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% endfor %}#}
            </div>
        </div>
    </section>

    <section class="py-2">
        <div class="container px-1 mt-1">
            <div class="row">
                {% for object in object_list %}
                    {% if request.user_agent.is_mobile %}
                        <div class="card bg-black col-6 mx-0 my-2 p-1">
                    {% else %}
                        <div class="card bg-black col-2 mx-0 my-2 p-1">
                    {% endif %}
                <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="{{ object.title }}">
                <div class="card-body">
                    <a href="{{ object.image.url }}" target="_blank"><div hx-post="{% url 'wallpaper_download_view' %}"
                                                                          hx-swap="none"
                             hx-vals='{"pk":"{{ object.pk }}"}' class="btn btn-dark btn-sm py-1 text-nowrap">Download</div></a>&nbsp;
                    <a href="{% url 'wallpaper_detail_view' object.slug %}" class="btn btn-dark py-1 btn-sm text-nowrap">Details</a>
                    {% if request.user.is_superuser %}
                        <div hx-post="{% url 'wallpaper_delete' %}" hx-target="body"
                             hx-vals='{"pk":"{{ object.pk }}"}' class="btn btn-dark py-1">Delete
                        </div>
                    {% endif %}
                    <h6 class="card-text text-white-50 small mt-3">{{ object.title }}</h6>
                </div>
                </div>

                {% endfor %}
                </div>
            </div>
    </section>

    <div class="pagination text-white-50 justify-content-center mb-3">
        <span class="step-links">
            {% if object_list.has_previous %}
                <div class="btn btn-dark py-1" hx-target="body" hx-get="{% url 'wallpapers_list_view' %}"
                     hx-vals='{"page":"{{ 1 }}"}'>&laquo; first</div>
                <div class="btn btn-dark py-1 btn-lg" hx-target="body" hx-get="{% url 'wallpapers_list_view' %}"
                     hx-vals='{"page":"{{ object_list.previous_page_number }}"}'>previous</div>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
            </span>

            {% if object_list.has_next %}
                <div class="btn btn-dark py-1 btn-lg" hx-get="{% url 'wallpapers_list_view' %}" hx-target="body"
                     hx-vals='{"page":"{{ object_list.next_page_number }}"}'>next</div>
                <div class="btn btn-dark py-1" hx-get="{% url 'wallpapers_list_view' %}" hx-target="body"
                     hx-vals='{"page":"{{ object_list.paginator.num_pages }}"}'>last &raquo;</div>
            {% endif %}
        </span>
    </div>
{% endblock content %}