{% load static %}

<div class="bg-dark mb-1">
    <div class="d-flex justify-content-center">
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'wallpapers_list_view' %}">
                    <img src="{% static 'icons/icon_small.png' %}" height="64px"/>
                </a>
                <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="{% url 'wallpapers_list_view' %}">
                                <h3>Mobile wallpapers</h3></a>
                        </li>

                        {% if request.user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="page"
                                   href="{% url 'wallpapers_not_approved_list_view' %}"><h3>Approve</h3></a>
                            </li>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            {% if not request.user.temporary %}
                                <li class="nav-item">

                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="{% url 'signup' %}"><h3>Sign up</h3></a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'account_login' %}"><h3>Login</h3></a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>